<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Influencers', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>
           <li class="dropdown">
             <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
               Danger Zone
               <span class="caret"></span>
             </a>
             <ul class="dropdown-menu" id="deals-dropdown">
               <li>
                 <%= link_to "Refresh Everything", refresh_all_shopify_cache_path, method: :put %>
               </li>
               <li>
                 <%= link_to "Refresh Collections", '#' %>
               </li>
               <li>
                 <%= link_to "Refresh Collects", '#' %>
               </li>
               <li>
                 <%= link_to "Refresh Products", '#' %>
               </li>
               <li>
                 <%= link_to "Refresh Orders", '#' %>
               </li>
               <li class="divider" role="separator"></li>
               <li>
                 <%= link_to "Delete All Influencers", '#' %>
                 <%= link_to "Delete All Orders", '#' %>
               </li>
             </ul>
           </li>
          <li class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              Influencers
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="deals-dropdown">
              <li>
                <%= link_to "Upload CSV", new_influencer_path %>
              </li>
              <li>
                <%= link_to "Download CSV", '#' %>
              </li>
              <li>
                <%= link_to "View Influencers", influencers_path %>
              </li>
              <li class="divider" role="separator"></li>
              <li>
                <%= link_to "View Orders", influencer_orders_path %>
              </li>
              <li>
                <%= link_to "Upload New Orders", upload_influencer_orders_path, data: { confirm: "Are you sure you want to send influencer orders to the warehouse?" }, method: :post %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login",  new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
