<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Influencers', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>

         <li id='order_interval_dropdown' class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              Order Interval
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="deals-dropdown">
              <li>
                <%= link_to "Create New Order Interval/Wipe Out Old One", order_interval_new_path %>
              </li>
              <li>
                <%= link_to "See Existing Order Interval", order_interval_edit_path %>
              </li>
              
            </ul>
          </li>

         <li>
           <%= link_to "Refresh Shopify Cache", refresh_all_shopify_cache_path, method: :put %>
         </li>
          <li id='influencers_dropdown' class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              Influencers
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="deals-dropdown">
              <li>
                <%= link_to "New Influencers", new_influencer_path %>
              </li>
              <li>
                <%= link_to "Download All CSV", download_all_influencers_path %>
              </li>
              <li>
                <%= link_to "View Influencers", influencers_path %>
              </li>
            </ul>
          </li>
          <li id='orders_dropdown'class="dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
              Orders
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="deals-dropdown">

              <li>
                <%= link_to "View Influencer Orders", influencer_orders_path %>
              </li>
              <li>
                <%= link_to "Send Influencer Orders to Warehouse", upload_influencer_orders_path, data: { confirm: "Are you sure you want to send influencer orders to the warehouse?" }, method: :post %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login",  new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
